@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  height: 100%;
  text-rendering: optimizeLegibility;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  /* Font Size Calculation */
  --diff: calc(var(--max-size) - var(--min-size));
  --responsive: calc(
    (var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))
  ); /* Ranges from 421px to 1199px */
  margin: 0;
  padding: 0;
}

:root {
  --whale-yellow: #e6b342;
  --whale-blue: #04465d;
  --inkblot-black: #222;
  --light-inkblot-black: rgba(51, 51, 51, 0);
  --font-sourceSans: var(--font-sourceSans);
}

@font-face {
  font-family: "BlowBrush";
  src: url("../../public/fonts/blowbrush.otf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../../public/fonts/BebasNeue-Regular.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Blastimo";
  src: url("../../public/fonts/Blastimo.ttf");
}

@font-face {
  font-family: "Buckwheat";
  src: url("../../public/fonts/Buckwheat TC Sans Painted.otf");
}

#globalLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(/images/watercolor-paper-background-2.jpg);
  background-position: center;
  background-size: auto;
}
#loader {
  font-weight: bold;
  font-family: "Bebas Neue", "Arial Narrow Bold", sans-serif;
  font-size: 40px;
  color: var(--whale-yellow);
  animation: load 1s linear infinite alternate;
}

#globalLoader-two {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  color: var(--whale-blue);
  justify-content: center;
  align-items: center;
  display: flex;
}

#loader:before {
  content: "Loading...";
}
@keyframes load {
  to {
    opacity: 0;
  }
}

body {
  margin: 0;
  width: 100%;
  max-width: 100vw;
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(/images/watercolor-paper-background-2-mirrored.png); */
  background-image: url(/images/watercolor-paper-background-lightyellow.v3.png);
  height: 100%;
  height: calc(var(--vh, 1vh) * 100);
  overscroll-behavior: contain;
  background-position: top center;
  background-size: auto;
  /* background-repeat: repeat-y; */
  padding-bottom: 20px;
}

h1 {
  font-family: "Buckwheat", sans-serif;
  font-size: calc(2rem + 1vw);
  color: var(--whale-blue);
  fill: red;
  letter-spacing: -0.05em;
  line-height: 1.1;
  /* weird tailwind h1 override */
  margin: 0 0 0 0;
}

h2 {
  font-family: "Buckwheat", sans-serif;
  color: var(--whale-blue);
  font-size: calc(1.5rem + 1vw);
  line-height: 1.1;
  margin: 0.2em 0;
  letter-spacing: -0.05em;
}

h3 {
  font-family: "Buckwheat", sans-serif;
  color: var(--whale-yellow);
  font-size: calc(0.7rem + 1vw);
  letter-spacing: -0.05em;
}

p {
  font-family: var(--font-sourceSans);
  color: var(--whale-blue);
  font-size: calc(0.8rem + 1vw);
  padding: 10px 0;
  filter: blur(0.5px) url(#pFilter);
}

button {
  border-radius: 3px;
  font-family: "Blastimo", "Arial Narrow Bold", sans-serif;
  font-size: calc(1.25rem + 1vw);
  color: var(--whale-blue);
  height: fit-content;
  width: fit-content;
  text-align: center;
  line-height: 1;
  padding: 10px;
  letter-spacing: 1px;
  transition: background-color 2s;
  position: relative;
}

button:hover {
  background-color: rgba(230, 179, 66, 0.2);
  transition: background-color 2s;
}

button::after {
  content: "";
  border: 3px solid var(--whale-yellow);
  inset: 0;
  position: absolute;
  filter: url(#scribbleBorder);
  z-index: -2;
}

button::before {
  content: "";
  border: 2px solid var(--whale-blue);
  inset: 0;
  position: absolute;
  filter: url(#scribbleBorder);
  z-index: -1;
}

section {
  scroll-margin-top: 90px;
  align-self: center;
  width: 100vw;
  max-width: 500px;
  min-height: calc(var(--vh, 1vh) * 100);
  height: fit-content;
  padding-bottom: 2.5vh;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  height: fit-content;
  position: relative;
  z-index: 2;
  overflow: hidden;
  --max-size: 28;
  --min-size: 25;
  font-size: var(--responsive);
  padding: 5px 0;
}

nav > a {
  margin-right: 10px;
  color: var(--whale-blue);
  transition: 2s;
  position: relative;
}

nav > a:hover {
  color: var(--whale-yellow);
  transition: 1s;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

/* Footer */
hr {
  border: none;
  background-color: #9b9c9d;
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  hr {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  section {
    scroll-margin-top: 90px;
    width: 100%;
    max-width: 100vw;
    min-height: calc(var(--vh, 1vh) * 100);
    height: fit-content;
    padding-bottom: 2.5vh;
    /* margin-bottom: 5vh; */
  }
}
