.contact-container {
  text-align: center;
  min-height: fit-content;
  padding: 40px 20px 40px 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.residence-container {
  display: flex;
  align-items: center;
}

.sun-emoji {
  transform: rotate(70deg) translateY(-10px);
}

.paragraph-font {
  filter: blur(0.5px) url(#pFilter);
}

.social-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1.5rem;
  width: 100%;
  padding-top: 20px;
}

.resume-button {
  font-family: "Buckwheat", sans-serif;
  font-size: calc(1.5rem + 1vw);
  color: var(--whale-blue);
  text-align: center;
  padding: 2.5rem;
  position: relative;
  line-height: 1;
  letter-spacing: -0.08em;
}

.resume-button span {
  display: inline-block;
  transform: translateY(-6px) translateX(4px);
}

.resume-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/refined-watercolor-button.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  transition: background-image 1s;
  z-index: -1;
  opacity: 0.7;
}

.resume-button:hover::after {
  background-image: url("/images/blue-watercolor-hover.png");
  transition: background-image opacity 1s;
  opacity: 1;
  z-index: -1;
}

.resume-button:focus::after {
  background-image: url("/images/blue-watercolor-hover.png");
  transition: background-image opacity 1s;
  opacity: 1;
  z-index: -1;
}

.twitter-icon:hover {
  filter: brightness(0) saturate(100%) invert(61%) sepia(76%) saturate(3981%)
    hue-rotate(176deg) brightness(99%) contrast(93%);
}

.github-icon:hover {
  filter: brightness(0) saturate(100%) invert(46%) sepia(63%) saturate(1018%)
    hue-rotate(205deg) brightness(91%) contrast(86%);
}

.linkedin-icon:hover {
  filter: brightness(0) saturate(100%) invert(35%) sepia(58%) saturate(7208%)
    hue-rotate(182deg) brightness(90%) contrast(89%);
}
