.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
  color: var(--whale-blue);
  padding-bottom: 80px;
  overflow: hidden;
}

.developer {
  font-size: calc(2.8rem + 3vw);
  letter-spacing: 0;
}

.biologist {
  font-size: calc(2.5rem + 3vw);
  letter-spacing: 1px;
}

.artist {
  font-size: calc(2.5rem + 3vw);
  letter-spacing: 1px;
}

.artista {
  font-size: 100px;
  line-height: 0;
  color: var(--whale-yellow);
  padding-top: 20px;
}

.period {
  color: var(--whale-yellow);
}

.whale-container {
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.whale {
  transform: scaleX(-1) rotate(-40deg);
  width: 100%;
  max-width: calc(25rem + 2vw);
  position: absolute;
  height: unset;
}

.bio {
  font-size: calc(1rem + 1vw);
  color: var(--whale-blue);
  align-self: flex-end;
}
