.main-content {
  display: flex;
  color: var(--whale-blue);
  position: relative;
  height: 100vh;
  height: 100svh;
  width: 100vw;
  padding: 0 7.5rem 0 7.5rem;
}

.column:first-child {
  display: grid;
  grid-template-areas:
    " . "
    "name"
    "description";
  align-items: left;
  flex-basis: 50%;
}

.name-container {
  grid-area: name;
  align-content: end;
}

.bioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: description;
}

.bio {
  font-size: calc(1rem + 1vw);
  line-height: 1.2;
  text-indent: 30%;
  filter: blur(1px) url(#pFilter);
}

.work-button {
  /* padding: 1rem 0rem 1rem 0rem; */
  margin: 0.5rem 0 1rem 0;
  /* font-size: calc(0.4rem + 1vw); */
  color: var(--whale-blue);
  align-self: flex-end;
  /* letter-spacing: 0.5em; */
}

/* Media Queries */
@media only screen and (max-width: 1250px) {
  .main-content {
    padding: 0 4.5rem;
  }

  .column:first-child {
    flex-basis: 75%;
  }
}

/* this is targeting phone view */
@media (max-width: 750px) {
  .main-content {
    padding: 0 1rem;
  }

  .column:first-child {
    flex-basis: 100%;
    grid-template-areas:
      " . "
      " . "
      "name"
      "description";
  }

  .bioContainer {
    justify-content: space-evenly;
  }

  .bio {
    filter: blur(0.5px) url(#pFilter);
  }

  .work-button {
    padding: 1rem 0.75rem 0.75rem 0.75rem;
    font-size: calc(1rem + 1vw);
    margin-top: -1rem;
  }
}
