.main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--whale-blue);
  height: 100%;
}

.title-container {
  margin-bottom: 1vh;
}

.whale-container {
  position: relative;
  height: 35vh;
}

.whale {
  position: relative;
  z-index: -1;
  height: 100%;
  object-fit: contain;
}

.developer {
  font-size: calc(3rem + 3vw);
  letter-spacing: 0;
  display: inline-block;
  position: relative;
  z-index: -1;
  animation: typing 1.5s steps(25, end), blink 1.5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid var(--whale-yellow);
  margin: 0 auto;
  /* padding-top: 1vh; */
}

.biologist {
  font-size: calc(3rem + 3vw);
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  z-index: -1;
}

.artist {
  font-size: calc(4rem + 3vw);
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  z-index: -1;
}

.artista {
  font-size: 80px;
  line-height: 0;
  color: var(--whale-yellow);
  padding-top: 20px;
}

.period {
  color: var(--whale-yellow);
}

.hidden {
  display: inline-block;
  overflow: hidden;
  margin-top: -1.5vh;
  line-height: 1;
  width: 100%;
}

/* seperaye hidden line to keep line height correct for wev developer */
.hidden-two {
  display: inline-block;
  overflow: hidden;
  margin-top: -1.5vh;
  line-height: 1;
}

.bio-container {
  bottom: 2vh;
  max-width: 600px;
  width: 100%;
}

.bio {
  font-size: calc(1.1rem + 1vw);
  line-height: 1.1;
  color: var(--inkblot-black);
  text-indent: 35vw;
  transform: scaleY(0.9);
  position: relative;
  z-index: -1;
}

.workbttn {
  float: right;
  border-radius: 3px;
  border: 3px solid var(--inkblot-black);
  font-size: calc(2rem + 1vw);
  color: var(--inkblot-black);
  height: auto;
  line-height: 1;
  padding: 0 4px;
  padding-top: 8px;
  margin: 0.5rem 1rem 0 0;
  cursor: pointer;
}

/* Media Queries */

@media only screen and (min-width: 480px) {
  .main-content {
    justify-content: center;
  }
}

/* Animations */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--whale-yellow);
  }
}
