.jelly-container {
  position: absolute;
  z-index: -10;
  right: -100%;
  transform: translateX(-180px);
  top: 7.5vh;
  height: 100vh;
  width: 100vw;
}

.jelly {
  position: relative;
  opacity: 0.6;
}

@media only screen and (min-width: 750px) {
  .jelly-container {
    transform: translateX(-240px);
  }
}
