.my-modal {
  position: relative;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url(/images/watercolor-paper-background-2.jpg);
}

.topright {
  position: fixed;
  right: 4vw;
  top: 2vh;
}
