.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  box-shadow: none;
  outline: none;
  border: none;
}

.my-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
  cursor: pointer;
}

/* exit button */
.closeButton {
  position: absolute;
  right: 3vw;
  top: 2vh;
  z-index: 100;
  cursor: pointer;
}

.my-modal {
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  overflow: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  background-image: url(/images/watercolor-paper-background-2.jpg);
  background-attachment: local;
  z-index: 51;
  border: none;
  box-shadow: none;
  outline: none;
  visibility: hidden;
}

@media only screen and (min-width: 1250px) {
  .my-modal {
    cursor: auto;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    mask-image: url("/images/Ink-transition-final-v1.png");
    mask-size: cover;
    mask-position: 0% 0%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("/images/Ink-transition-final-v1.png");
    -webkit-mask-size: cover;
    -webkit-mask-position: 0% 0%;
    -webkit-mask-repeat: no-repeat;
  }
}
