.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.my-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background-color: rgba(220, 220, 220, 0.15); */
  /* glassomorphism */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 50;
  cursor: pointer;
}

/* exit button */
.topright {
  position: absolute;
  right: 4vw;
  top: 2vh;
  z-index: 100;
  cursor: pointer;
}

.my-modal {
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  overflow: hidden;
  overflow-y: scroll;
  overscroll-behavior: none;
  /* background-image: url(/images/watercolor-paper-background-2.jpg); */
  background-attachment: local;
  z-index: 51;
}

@media only screen and (min-width: 1250px) {
  .my-modal {
    cursor: auto;
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    mask-image: url("/images/Ink-transition-final-v1.png");
    mask-size: cover;
    mask-position: 0% 0%;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("/images/Ink-transition-final-v1.png");
    -webkit-mask-size: cover;
    -webkit-mask-position: 0% 0%;
    -webkit-mask-repeat: no-repeat;
  }
}
