.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.my-modal {
  position: fixed;
  overflow: hidden;
  overscroll-behavior: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  cursor: auto;
  background-image: url(/images/watercolor-paper-background-2.jpg);
  background-attachment: local;
  overflow: hidden;
  overflow-y: scroll;
}

.my-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(220, 220, 220, 0.15);
  /* glassomorphism */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  z-index: 50;
  cursor: pointer;
}

/* exit button */
.topright {
  position: absolute;
  right: 4vw;
  top: 2vh;
  z-index: 100;
  cursor: pointer;
}

.transition-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60; /* Ensure it's below the modal */
  width: 100vw;
  height: 100%;
  background-image: url("/images/Ink-transition-final-v1.png"); /* Use background image */
  background-size: cover; /* Ensure the image covers the entire layer */
  background-position: 0% 0%; /* Start position for the animation */
  background-repeat: no-repeat;
  pointer-events: none; /* Prevent interaction */
  display: none; /* Initially hidden */
}

/* everything above 480px */
@media screen and (min-width: 480px) {
  .transition-layer {
    width: 75%;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}
