.twitter-icon path {
  transition: 0.9s fill;
}

.twitter-icon:hover path {
  fill: #1da1f2;
}

.github-icon path {
  transition: 0.9s fill;
}

.github-icon:hover path {
  fill: #6879d9;
}

.linkedin-icon path {
  transition: 0.9s fill;
}

.linkedin-icon:hover path {
  fill: #0e76a8;
}
