.glassomorph {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(220, 220, 220, 0.15);
  backdrop-filter: blur(6px); /* creates glassomorphism for navbar */
  -webkit-backdrop-filter: blur(6px);
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: auto;
  position: relative;
  filter: invert(15%) sepia(55%) saturate(2668%) hue-rotate(172deg)
    brightness(45%) contrast(96%);
  -webkit-filter: invert(15%) sepia(55%) saturate(2668%) hue-rotate(172deg)
    brightness(45%) contrast(96%);
}

.nav-logo-aaron {
  position: absolute;
  top: 0px;
}

.nav-logo-keohane {
  position: absolute;
  bottom: 0px;
}

.nav-link {
  padding-bottom: 2px;
}

.nav-link:last-child {
  padding-right: 15px;
  margin-left: -2px;
}
